appdirs==1.4.3
beautifulsoup4==4.5.3
bs4==0.0.1
packaging==16.8
pika==0.10.0
pyparsing==2.2.0
requests==2.13.0
six==1.10.0

# other non-python requirements:
	# needs a rabbitmq server running on port 5672 (remote server tbd)